<section class="business-part">
    <div class="business-text">
        <h1  class="biz-text" data-aos="fade-left">Boost your business <br>with Open</h1>
        <div class="line2"></div>
        <div class="biz-subtext" data-aos="fade-left">
            <p>Get your hands on a term loan that’s <br> crafted for your business</p>
        </div>
        <div class="business-button">
            <a class="nav-link" href="/open-account" target="_blank">
                <button class="btn-outline" style="box-shadow: none;">Get a Open Account</button>
            </a>
        </div>
    </div>
    <div class="business-reactangles">
        <div class="left-rectangles">
            <div class=" rectangle r1" data-aos="fade-up">
                <img src="../../assets/img/Get Paid Instantly.png" alt="rect-img" class="rect-img">
                <div class="rect-title">Quick cash disbursement</div>
                <div class="rect-content">Get terms loans that your business needs within 72 hrs</div>
            </div>
            <div class="rectangle r3" data-aos="fade-up">
                <img src="../../assets/img/Low interest rate.png" alt="rect-img" class="rect-img">
                <div class="rect-title">Low-interest rate</div>
                <div class="rect-content">Achieve your financial goals with an amazing interest rate starting at 13% per annum</div>
            </div>
            <div class="rectangle r5" data-aos="fade-up">
                <img src="../../assets/img/Secure Payments.png" alt="rect-img" class="rect-img">
                <div class="rect-title">Zero Paperwork</div>
                <div class="rect-content">Get started instantly by submitting only your basic details & bank statements</div>
            </div>
        </div>
        <div class="right-rectangles">
            <div class=" rectangle r2" data-aos="fade-up">
                <img src="../../assets/img/freelancer_feature_icon_6@1.5x.png" alt="rect-img" class="rect-img">
                <div class="rect-title">Ace your business finances</div>
                <div class="rect-content">Manage banking, accounting & everything in between, on one platform</div>
            </div>
            <div class="rectangle r4" data-aos="fade-up">
                <img src="../../assets/img/Covid.png" alt="rect-img" class="rect-img">
                <div class="rect-title">Loans to fight COVID-19</div>
                <div class="rect-content">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</div>
            </div>
        </div>
    </div>
    
</section>