<div class="main-container">
    <div class="content">
        <div class="title1">
            <h1 class="title1-text">
                We make it Super 
                <br>
                Simple
            </h1>
            <div class="line"></div>
        </div>
        <div class="img-collect">
            <img src="../../assets/img/collect_img-video.png" alt="img-collect">
        </div>
        <div class="group6">
            <app-eligibility-calculator></app-eligibility-calculator>
        </div>
    </div>
    <app-business></app-business>
</div>